body {
    font-family: Arial;
    text-align: center;
    padding: 40px;
    background: #f2f2f2;
}

.container {
    margin-top: 40px;
}

.btn {
    padding: 14px 24px;
    margin: 10px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    font-size: 18px;
}

input {
    padding: 12px;
    font-size: 18px;
    margin: 10px;
    width: 200px;
}
.red {
    background: #ff3b30;
}
